# Python
__pycache__/
*.pyc

# PyInstaller
build/
dist/
*.spec

# Temp Images (Runtime generated)
gray.png
mask.png
input.png
*_magic.png
output_yiyu_box/

# IDEs
.idea/
.vscode/

# Large Files
# GitHub Limit is 100MB. The models and Blender files exceed this.
# You need Git LFS to push these, or keep them for manual Release assets.
yiyu Toolbox core/model/*.pt
yiyu Toolbox core/model/*.pth
**/*.blend
**/*.blend1

# Portable Build
yiyu_toolbox_portable/
build_launcher/
nuitka-crash-report.xml
